{% extends 'base.html.twig' %}



{% block body %}
    <main class="flex-grow">
        <div class="page-container">
            <div class="max-w-md mx-auto"><h1 class="section-title text-center">{{ 'form.login.header'|trans }}</h1>
                {{ component('LoginUser') }}
                <div class="text-center mt-6">
                    <p class="text-muted-foreground">{{ 'form.register.dont_have_account'|trans }}
                        <a class="text-workshop-red hover:underline"
                           href="{{ path('user_register') }}">{{ 'form.register.register'|trans }}</a>
                    </p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}